@import url('https://fonts.googleapis.com/css?family=Montserrat');

   /* this tag is yous for background img */

 
  body {  
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
  }
  header {
      margin-top: 0px;
	background:#D2691E;
	color:white;
    padding: 8px 0px 6px 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.lo{
    height: 24px;
	background-color:DodgerBlue;
	font-family:'Montserrat', sans-serif;
    font-size: 18px;
    padding-right: 0px;
    padding-left: 270px;
    margin-top: 0px; 
    margin-right: 0px;
    color: white;
	
}
.loo{
     margin-left: 83px;

     
}
.log{
	height: 5px;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
.logo img{
    width: 1004px;
    height: 110px;
    margin-bottom: 0px;
    margin-left: 0px;
    }
    /* this class id is yous for logoo */
.logoo{
        background-color: #DAA520;
        height: 4px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
         }
nav ul {
   
   display: inline;
   padding: 0px;     
    }
 nav ul li{
              display: inline-block;
             list-style-type: none;
           } 
       /* ....................................................    */
ul li a{
            color: white;
            text-decoration: none;
            margin-left: 10px; 
           }
#nav{
            font-family:'Montserrat', sans-serif;
          }
.red{
       background-color:#DAA520;
       padding: 8px 6px 6px 5px;
       margin-top: 0px;
      }
 .balck:hover{
                /* display: block;  */
               background-color:blue;
               padding: 8px 6px 6px 5px;
               margin-top: 0px;
              } 
              #manu ul{
                list-style: none;
                margin-top:0px;
              }
              
              
              
              
              #manu ul li{
              
              background-color: red;
              border: 1px solid white;
              width: 150px;
              height: 35px;
              text-align: center;
              line-height: 35px;
              float: left;
              position: relative;
              border-radius: 5px;
              margin-top: 0px;
              
              
              
              }
              
              head #nilesh1{
                font-size: 20px;
              }
              
              
              
              
              #khamkar nav{
                background-color: purple;
                height: 30px;
              
              
              
              }
              
              
              #khamkar nav h1 {
                font-size: 25px;
              }
              
              #manu ul li a{
                font-size: 16px;
                text-decoration: none;
                color: white;
                display: block;
              
              }
              
              #manu ul li a:hover {
                background-color: purple;
                margin-left: 0px;
                margin-right: 0px;
                border-radius: 5px;
              }
              
              #khamkar nav h6{
                font-size: 20px;
                color: white;
                margin-left: 875px;
                padding: 0px;
                margin-top: 0px;
                text-align: -webkit-match-parent;
                
              
              }
              
              #khamkar nav h5{
                font-size: 20px;
                color: white;
                margin-left: 20px;
                padding-bottom: 0px;
                margin-bottom: -24px;
                padding: 0px;
                text-align: -webkit-match-parent;
              }
              
              
              #manu ul{
                margin-left: 100px;
              }
              
              
              
              
              #manu ul li{
              
                margin-left: 15px;
                padding-top: 0px;
                
              }
              
              #manu ul ul{
                position: absolute;
                display: none;
                margin-top: 0px;
                margin-left: -56px;
              }
              
              
              #manu ul li:hover >ul{
              
                display: block;
              }
              #manu ul ul ul{
                margin-left: 150px;
                top:0px;
              }
              
              #nilesh nav h1{
                font-size: 4px;
                margin-left: 250px;
                margin-top: 0px;
                font-style: oblique;
                color: white;
              }
              #nilesh nav span img{
                size: 60px;
                cursor: default;
              }
              #manu{
                margin-top: -16px;
              }
   span img{
     margin-top: 3px;
     height: 23px;
    width: 35px;
      margin-left: 28px;
      margin-right: -25px;
    }
