@import url('https://fonts.googleapis.com/css?family=Montserrat');

   /* this tag is yous for background img */

   
 
  body {  
    
    background-attachment: fixed;
    text-align: justify;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 0px;
  }
  
  header {
      margin-top: 0px;
	background:#D2691E;
	color:white;
    padding: 8px 0px 6px 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.lo{
    height: 24px;
	background-color:DodgerBlue;
	font-family:'Montserrat', sans-serif;
    font-size: 20px;
    padding-right: 0px;
    padding-left: 270px;
    margin-top: 0px; 
    margin-right: 0px;
    color: white;
	
}
.loo{
     margin-left: 110px;

     
}
.log{
	height: 5px;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
.logo img{
    width: 1112px;
    height: 110px;
    margin-bottom: 0px;
    margin-left: 0px;
    }
    /* this class id is yous for logoo */
.logoo{
        background-color: #DAA520;
        height: 4px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
         }
nav ul {
  
   display: inline;
   padding: 0px;     
    }
nav ul li{
              display: inline-block;
             list-style-type: none;
             left: 10px;      
           }
nav ul li a{
            color: white;
            text-decoration: none;
            margin-left: 10px; 
           }
#nav{
            font-family:'Montserrat', sans-serif;
          }
.red{
       background-color:#DAA520;
       padding: 8px 6px 6px 5px;
       margin-top: 0px;
      }
.balck:hover{
               background-color:blue;
               padding: 8px 6px 6px 5px;
               margin-top: 0px;
              }
              table,tr,td,th{
                border: 2px solid black;
                border-collapse: collapse;
                padding: 0px;
            } 
            th,td {
                text-align: center;
              }
              table{
                background-color: #e69a9a;
              }
              th {
                background-color:black;
                color: blue;
              }